<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
	</system.web>

  <connectionStrings>
    <add name="db_ncc" connectionString="Data Source=DESKTOP-11ODRB2;Initial Catalog=db_ncc;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="AutoPlusDBConnectionString" connectionString="workstation id=MSLMSDB.mssql.somee.com;packet size=4096;user id=revenue;pwd=123456789;data source=MSLMSDB.mssql.somee.com;persist security info=False;initial catalog=MSLMSDB" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
</configuration>
